<script>console.log('Dear user reading this, this just makes Firefox load CSS before the page.')</script>
<div class="container">
    <img src="/dist/logo.png" width="320" height="200" alt="" style="align-self: center;">
    <div class="flex-box">
        <h1>
            <%= box_1_title %>
        </h1>
        <p>
            <%- box_1_body %>
        </p>
    </div>
    <div class="flex-box">
        <h1>
            <%= box_2_title %>
        </h1>
        <p>
            <%- box_2_body %>
        </p>
    </div>
</div>