<p class="copyright-notice" style="text-align: left;">Made with ❤ by WhizBangPop | PlayShare is licenced under AGPL-v3</p>
<p class="legal" style="text-align: right;"><a href="/legal/privacy">Privacy</a> | <a href="/legal/tos">Terms of Service</a></p>