<meta charset="utf8">
<title>
    <%= pageTitle %> | PlayShare
</title>

<script src="https://browser.sentry-cdn.com/7.45.0/bundle.min.js" integrity="sha384-eB2/mQAt3oY62hGYFXiPg18greyp8WT/GvKHlsvdYbvSxBRGEhBqEX8L7giHxzvp" crossorigin="anonymous"></script>
<script>
    window.goatcounter = {
        path: function(p) {
            if (p.startsWith("/ps/new?")) {
                return ("/ps/new")
            }
        },
    }
</script>
<script data-goatcounter="https://playshare.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<noscript>
    <img src="https://playshare.goatcounter.com/count?p=/test-noscript">
</noscript>

<link rel="stylesheet" href="/dist/style.css">