html
  head
    title PlayShare Creation Failed
    link(rel="stylesheet", href="/dist/style.css")
  body
    .container
      .title-box(class="flex-box")
        h1 Something went wrong!
        p Something seemed to go wrong when fetching your PlayShare. Please try again. 
      .info-box(class="flex-box")
        p If this error persists, contact WhizBangPop in the <a href="https://dsc.gg/sdstudios">SDStudios Discord server</a>.
    .copyright-notice
      p Made with ❤ by WhizBangPop | PlayShare is licenced under AGPL-v3