<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head', { pageTitle: pageTitle }) %>
</head>

<body>
    <%-include('../partials/dynamicBody', { box_1_body: box_1_body, box_2_title:
        box_2_title, box_2_body: box_2_body }) %>
        <%- include('../partials/footer') %>
</body>

</html>