<!DOCTYPE html>
<html lang="en">
<head>
	<%-include('../partials/head', { pageTitle: "Privacy Policy" }) %>
</head>
<body>
	<div class="container">
		<img src="/dist/logo.png" width="320" height="200" alt="" style="align-self: center;">
		<div class="flex-box">
			<h1>PlayShare Privacy Policy</h1>
			<p>Last updated: March 26, 2023</p>
		</div>
		<div class="text-box">
			<p>I, WhizBangPop/Abigail Henderson, do not knowingly collect any identifiable from visitors, nor users.<br>To verify this, the source code for PlayShare can be viewed <a href="https://github.com/whizbangpop/playlist.share">here</a>.</p>
			<hr>
			<p>To help improve PlayShare, we use GoatCounter to collect the following data: (from GoatCounter)
				<div class="flex-box" style="text-align: left;">
					<ul>
						<li>URL of the page visited</li>
						<li>"<code>Referrer</code>" header - this is to determine where traffic is originating from</li>
						<li>"<code>User-Agent</code>" header - this is to determine what kind of platforms PlayShare is being used on</li>
						<li>Country</li>
					</ul>
				</div>
				If you would like more information, you can check GoatCounter's Privacy Policy <a href="https://www.goatcounter.com/help/privacy#">here</a>.
			</p>
			<hr>
			<p>TLDR; We don't store personally identifiable information. This website is open source. Email me @ <a href="mailto:playshare.privacy@sommer.anonaddy.me">playshare.privacy@sommer.anonaddy.me</a> with any questions.</p>
		</div>
	</div>
	<%- include('../partials/footer') %>
</body>
</html>
